device: cuda

path:
  audio: /ml/dataset/audioset/audio
  meta: /ml/meta_train.csv
  model: /ml/models/contrastive_learning
  tensorboard: /ml/log/tensorboard
  result: /ml/results

preprocess:
  audio_crop_size: 3
  n_mels: 80
  freq_shift_size: 20

training:
  n_epoch: 1000
  batch_size: 32
  lr: 0.001
  temperature: 0.1
  ckpt: -1
