device: cuda
debug: False

path:
  audio: /ml/dataset/audioset/audio
  hdf: /ml/dataset/hdf5/waveform
  meta: /ml/meta/meta_train.csv
  model: /ml/models/contrastive_learning
  tensorboard: /ml/log/tensorboard
  result: /ml/results

preprocess:
  dataset_type: "hdf5" # raw or hdf5
  sr: 32000
  crop_sec: 3 # [s]
  win_sec: 0.2 # [s]
  hop_sec: 0.1 # [s]
  n_mels: 80
  freq_shift_size: 20

training:
  num_worker: -1 # if -1, use os.cpu_count()
  n_epoch: 100
  batch_size: 32
  lr: 0.001
  temperature: 0.1
  ckpt: -1
